<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.uas1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UAS1"
        tools:targetApi="31">

        <!-- Halaman awal: login akan jadi launcher -->
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Halaman registrasi -->
        <activity android:name=".RegisterActivity" />

        <!-- Halaman utama setelah login -->
        <activity android:name=".MainActivity" />

        <!-- Fitur-fitur tambahan -->
        <activity android:name=".BMICalculatorActivity" />
        <activity android:name=".WaterReminderActivity" />
        <activity android:name=".CalorieCalculatorActivity" />
        <activity android:name=".ProfileActivity1" />
        <!-- Ini yang kamu tambahkan -->

    </application>

</manifest>
